{% extends '_layouts/base.njk' %}


{% block page_title %}{{members.name}}{% endblock %}

{% block content %}
  <div class="container">

  <div class="row">
  <div class="col-md-8 offset-md-2 quote-head">
  <div class="quote-overlay">
     <p class="quote">"{{members.quote}}"
     <div class="signature text-right">-{{members.name}}.</div></p>
  </div>
  </div>
  </div>
  <h1 class="text-center">{{members.name}}</h1>
<div class="container">
<div class="row">
  <div class="col-md-4 offset-md-2">   <img class="profile img-fluid" src="assets/img/members/{{members.image}}" alt="photo of {{members.name}}" />
  </div>
  <div class="col-md-4 bio"> 
          <dl>
   <dt>Name:</dt>
   <dd>{{members.name}}</dd>
   <dt>Instruments:</dt>
   <dd>{{members.instruments}}</dd>
   <dt>Tenure:</dt>
   <dd>{{members.tenure}}</dd>
   <dt>Birthplace:</dt>
   <dd>{{members.birthplace}}</dd>
   <dt>Birthdate:</dt>
   <dd>{{members.birthdate}}</dd>
 </dl>
  </div>
</div>


  
  <div class="row">
  <div class="col-md-8 offset-md-2 member-story">
    {{ members.text | safe}}
  </div>
  </div>
  </div>
</div>
</div>
{% endblock %}
