{% extends '_layouts/base.njk' %}


{% block page_title %}{{members.name}}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Meet {{members.name}}</h1>
<div class="row">
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-4">   <img class="profile img-fluid" src="../assets/img/members/{{members.image}}" alt="photo of {{members.name}}" />
  </div>
  <div class="col-xs-6 col-md-4"> 
          <dl>
   <dt>Name:</dt>
   <dd>{{members.name}}</dd>
   <dt>Instruments:</dt>
   <dd>{{members.instruments}}</dd>
   <dt>Tenure:</dt>
   <dd>{{members.tenure}}</dd>
   <dt>Birthplace:</dt>
   <dd>{{members.birthplace}}</dd>
   <dt>Birthdate:</dt>
   <dd>{{members.birthdate}}</dd>
 </dl>
  </div>
  <div class="col-xs-0 col-md-2"></div>
</div>
  <div class="row">
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-8">
     <p class="quote text-center">"{{members.quote}}"</p>
   </div>
  <div class="col-xs-0 col-md-2"></div>
  </div>

  
  <div class="row">
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-8 member-story">
    {{ members.text | safe}}
  </div>
  <div class="col-xs-0 col-md-2"></div>
  </div>
  </div>
</div>
</div>
{% endblock %}
