{% extends '_layouts/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>About the Band</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That year they released their first album, Queen. The same year saw their first major UK tour, and in 1974 they released Queen II as well as making their first UK headlining tour. They made their first US tour, and in November released Sheer Heart Attack which was a hit on both sides of the Atlantic.</p>
    
    <p>1975 saw their new release, A Night At The Opera, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been too long for successful radio play but it became one of the greatest singles of all time, staying at No. 1 in the UK chart for nine weeks. The video, directed by Bruce Gowers, is credited with being the first genuine promotional video. The song has regularly featured in all major pop polls and was recently named again as the best single of all time. The success of A Night At The Opera was equally stunning, giving the band their first platinum album.</p>

    <p>In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top Twenty. Later that year they released A Day At The Races, and gave a free concert in Hyde Park to an estimated crowd of 200,000 fans. The album was a huge success, advance orders alone amounting to over 500,000. The following year saw two major US tours, the band’s sixth album, News Of The World and the legendary double A side single, We Will Rock You and We Are The Champions.
    </p>
    <p><em>Source: <a href="http://www.queenonline.com/queen">Queen's official website </em></a></p>
    </div>
    </div>

    {% include "_partials/member-card.njk" %}
    {% include "_partials/disc.njk" %}
</div>
{% endblock %}
