  <div class="discography">
  <div class="container">
  <h1 class="text-center">Discography</h1>
    <ul class="list-unstyled">
    <div class="row">
      {% for disc in discography %}
      <div class="col-md-6">
      <li class="media">
        <img class="album" src="assets/img/discs/{{disc.image}}" alt="{{disc.title}}">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{disc.title}}</h5>
          {{disc.year}}
        </div>
      </li>
      </div>
      {% endfor %}
      </div>
    </ul></div>
    </div>
    </div>
    </div>
</div>
