<div class="member-cards">
<div class="container">
<h1 class="text-center">Meet the Members</h1>
<div class ="row">
{% for member in members %}

<div class="col-md-6 col-lg-3"><a href="{{member.slug}}.html" class="card-link">
<div class="card">
  <img class="card-img-top" src="../assets/img/members/{{member.imagebw}}" alt="{{member.name}}">
    <div class="card-text">
    <h5>{{member.name}}</h5>
    <p>{{member.instruments}}</p>

    <p><em>"{{member.quote}}"</em></p>
    </div>
  {# <div class="card-body"> #}

</a>
  {# </div> #}
</div>
</div>
{%endfor%}
</div>
</div>
</div>
