<header role="banner">
  <a href="index.html"><img id="logo-main" src="assets/img/queen-logo-black.png" width="200" alt="Logo Thing main logo"></a>
 

<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="freddie-mercury.html">Freddie Mercury</a>
      <a class="nav-item nav-link" href="brian-may.html">Brian May</a>
      <a class="nav-item nav-link" href="roger-taylor.html">Roger Taylor</a>
      <a class="nav-item nav-link" href="john-deacon.html">John Deacon</a>
    </div>
  </div>
</nav>


</header>
