.jumbotron.banner {
    background: url(../assets/img/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
  
.jumbotron {
    margin-bottom: 30px;
  }
