.jumbotron.banner {
    background: url(../assets/img/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }

  .jumbotext{
    // text-shadow:
    // -1px -1px 0 #000,
    // 1px -1px 0 #000,
    // -1px 1px 0 #000,
    // 1px 1px 0 #000;
    font-size: 7rem;
    font-family: 'Cinzel', serif;
  }