.card {
    width: 15rem;
    margin-bottom: 30px;
}

.card-title {
    font-size: 1.5rem;
    font-family: 'Assistant', sans-serif;
}

.card-text {
    font-size: 0.8rem;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: grey;
}