img.profile {
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dl {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.25rem;
    // padding: 60px 0;

  }
  
dt {
    float: left;
    margin-right: 5px;
  }

.quote {
    font-size: 2.5rem;
    font-style: oblique;
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    color: rgb(70, 70, 70);
}
