img.profile {
    margin-bottom: 20px;
    width: 320px;
}

dl {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25rem;
    padding: 12px 0;
  }
  
dt {
    float: left;
    margin-right: 5px;
  }