img.profile {
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dl {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.25rem;
    // padding: 60px 0;

  }
  
dt {
    float: left;
    margin-right: 5px;
  }

.quote {
    font-size: 2.5rem;
    font-style: oblique;
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 0.5px black; 
    // background: rgba(182, 181, 181, 0.72);
    

}

.signature {
    font-size: 1.5rem;
    font-style: oblique;
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow: 3px 3px 1px black; 

}

.quote-head {
    background: url(../assets/img/queen-band-early.jpg) no-repeat center;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 40px;
}

.quote-overlay {
    background: rgba(145, 145, 145, 0.6);
    border-radius: 5px;
    padding: 20px;
}

.bio {
    display: block;
}