.wide-image{
    background: url(../assets/img/queen-band-wallpaper-thin.jpg) no-repeat center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 10rem;
    border-radius: 5px;
  }
